<%include ./templates/header%>

    <div class="container">
        <div class="expert-profile">
            <h3>Profil experta</h3>
            <div>Meno: <%=data.firstName%></div>
            <div>Priezvisko: <%=data.secondName%></div>
            <div>Povolanie: <%=data.occupation%></div>
            <div>Vzdelanie: <%=data.education%></div>
            <div>Vyučuje predmety: <%=data.subject%></div>
            <div>Ochotný vyučovať v meste: <%=data.city%></div>
            <div>Typ výučby: <%=data.lecturing%></div>
            <div>Poznámka: <%=data.note%></div>
            <div><b>Kontaktný email:</b> <a href="mailto:<%=data.contactEmail%>"><%=data.contactEmail%></a></div>
        <div>
    </div>








<%include ./templates/footer%>
