<!DOCTYPE html>
<html>
<head>
    <title>Najdi experta</title>
    <link rel='stylesheet' type='text/css' href='/./style.css'>
</head>
<body id="expertiFile">
    
<!--Vyhladavaci panel

- Mesto kde je ochotny ucit // \NAJDE SA AUTOMATICKY podla mesta profesora
// Alternativa by bolo dat zoznam miest s uz oredskrtnutou moznostou mesta profesora
- Typ vyukovej aktivity (4typy)
- Oblasti v ktorych chce ucit 
--> 

<!-- 

 

<div>
        <label><input></input></label>  
      </div> 


 -->
 <h2><a href="/">Homepage</a></h2>
 <h2><a href="/profil">Profil</a></h2>
 <div id="filter_pre_expertov">
<form method="GET" action="/experti"> 
 <h3>Vyhladavacie kriteria:</h3>


 <button type="button" id="vyucba-tlacidlo">Typy vyukovej aktivity</button>
  <div id="vyucba-obsah" class="obsah-menu">
    <%for(let i = 0; i<vyucbaList.length; i++){%>
      <label><input class="checkbox" type="checkbox" name="vyucba" id="<%='optionA'+i%>" value="<%=vyucbaList[i]%>"><%=vyucbaList[i]%></label>
    <%}%>
  </div>

 <button type="button" id="predmety-tlacidlo">Predmety vyucby</button>
    <div id="predmety-obsah" class="obsah-menu">
      <%for(let j = 0; j<predmetyList.length; j++){%>
          <label><input class="checkbox" type="checkbox" name="predmety" id="<%='optionB'+j%>" value="<%=predmetyList[j]%>"><%=predmetyList[j]%></label>
          <%}%>
      </div>   
  
    </div>
<br>
<button type="submit">Vyhladaj</button>
</form>
<div id="zoznam_expertov">  
    <%usery.forEach(user=>{%>
    <div class="expert-div">
        <div class="user">
          <label><%=user.email%></label>
          <br>
          <label><%=user.fullname%></label>
          <a href="experti/<%=user.id%>" target="__blank">Pozriet experta</a>
        </div>
    </div>  
    <%})%>
</div>
      
  

<!--Zoznam expertov podla kriterii-->


<script type="text/javascript" src='/./script.js'></script>
</body>
</html>